.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.border {
  height: 300px;
  width: 450px;
  display: flex;
  flex-direction: row;
}

.border>*:not(:last-child) {
  margin-right: 5px;
}

.tower {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  border-bottom: 5px solid burlywood;
  cursor: pointer;
  position: relative;
}

.tower .pole {
  height: 65%;
  width: 5px;
  background-color: burlywood;
  position: absolute;
}


.ring {
  height: 20px;
  z-index: 1;
  border-radius: 25%;
  border: solid darkred;
}

.tower.selected :first-child {
  transform: translateY(-15px);
  box-shadow: 5px 5px gold;
}

.ring.size-1 {
  width: 35px;
  background-color: red;
}

.ring.size-2 {
  width: 50px;
  background-color: orange;
}

.ring.size-3 {
  width: 65px;
  background-color: yellow;
}

.ring.size-4 {
  width: 80px;
  background-color: green;
}

.ring.size-5 {
  width: 95px;
  background-color: blue;
}

.ring.size-6 {
  width: 110px;
  background-color: indigo;
}

.ring.size-7 {
  width: 125px;
  background-color: violet;
}

.restartButton {
  color: red;
  height: 50px;
  width: 150px;
  font-size: 25px;
  cursor: pointer;
}

.title {
  font-size: 75px;
}

.sliderNest {
  display: flex;
  flex-direction: row;
}

.sliderBeg {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

.sliderEnd {
  color: violet;
  font-size: 25px;
  font-weight: bold;
}